body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tama침o de la fuente principal en el tag <p></p> */
    background-color: black; /* El color del fondo de la p치gina web */
    color: #f1e205; /* El color del texto*/ 
    padding: 110px;
    margin: 100;

}
h1 {
    color: red; /* El color de la cabecera */
    font-size: 50px; /* El tama침o de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipogr치fica utilizada en la cabecera */
    text-align: center;
    
}
h2 {
    text-align: center;
    font-family: Times, serif;
}
ul {
    color: white;
    font-size: 15px;
}
.image1 {
    width: 650px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    text-align: center;
    font-size: 15px;
}
h4 {
    text-align: center;
    color: red;
    font-size: 35px;

}
.image2 {
    width: 480px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image3 {
    width: 480px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image4{
    width: 480px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image5 {
    width: 500px;
    height: 350px;
    
}
.image6 {
    width: 485px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image7 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image8 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image9 {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image10 {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image11 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image12 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image13 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image14 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image15 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image16 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image17 {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
